
*{
  user-select: none;
}
select{
  cursor: pointer;
}
.landing-fAj {
  background-color: #DFFFD3;
  height: fit-content;
  width: 100%;
  padding: 0;
  margin-top: -15px;
}
.qun-l-sn-dgX, .auto-group-hdgw-1Js, .group-289693-7qd{
  width: 100%;
  height: fit-content;
  padding: 40px 10% 40px 10%;
}
.main-advertise-letter-fNK{
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.auto-group-9pu3-fmd{
  display:  flex;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
}
.chn-loi-sn-Ji7,.nhp-tn-sn-zZ1,.nhp-gi-bUF{
  width: fit-content;
  height: fit-content;
}
.tn-sn--vxT, .loi-sn--RXq, .n-gi--LRq, .nh--pEX, 
.tn--9FH, .ngy--sNK, .loi--xUK, .tn--jnb, 
.s-in-thoi--wGP, .khung-gi--JA7, .cho-php-giao-hu-TKq{
  margin-left: 25px;
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
}
.auto-group-1jl7-TBh, .auto-group-6ywm-4sd, .auto-group-veaw-32b, .auto-group-xznk-duu{
  background-color: white;
  height: 72px;
  padding: 20px;
  font-size: 18px;
  border-radius: 10px; 
  border: 1px #52C41A solid;
  width: 458px;
}
.selectLoaiS, .selectLoaiLS, .selectKhungGio, .selectTenLS, .ngayLS, .selectGH, .selectLLS{
  width: 500px;
  height: 72px;
  padding: 20px;
  border-radius: 10px; 
  border: 1px #52C41A solid;
  font-size: 18px;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}
.loi-sn-RAT:hover{
  cursor: pointer;
}
.chn-nh-u7Z{
  margin-top: 20px;
  width: 100%;
}
.auto-group-bp27-YwD{
  width: 100%;
  background-color: white;
  border-radius: 10px; 
  border: 1px #52C41A solid;
  display: flex;
  justify-content: center;
  padding: 60px 0 60px 0;
}
.auto-group-bp27-YwD:hover{
  cursor: pointer;
}
.imgboxfill-tkB{
  width: 60px;
  height: 60px;
}
.auto-group-hhjs-nKm{
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  justify-content: space-around;
  display: flex;


}
.btnThemSan, .btnCapNhatSan, .btXoaSan, .btnThemLich, .btnCapNhatLich, .btnXoaLich{
  width: 30%;
  background-color: #9BCE89;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: #9BCE89 solid 1px;
}
.btnThemSan:hover, .btnCapNhatSan:hover, .btXoaSan:hover,
.btnThemLich:hover, .btnCapNhatLich:hover, .btnXoaLich:hover{
  background-color: #2B790F;
  color: white;
  cursor: pointer;
}
.danh-sch-sn-H3Z{
  width: 100%;
  margin-top: 20px;
  padding: 30px 0 30px 0;
  align-items: center;
  background-color: #2B790F;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: bold;
}
.scrollContainerSan{
  width: 100%;
  height: 620px;
  background-color: white;
  overflow-y: scroll;
}
.sn-XTh{
  width: 100%;
  height: 300px;
  border-bottom: #52C41A solid 1px;
  padding: 40px 5% 40px 5%;
  margin: 0 0 20px 0;
  display: flex;
}
.auto-group-lo8w-E7D{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  font-size: 18px;
  height: 100%;
  margin-right: 50px;
}
.tn-sn-input-J75, .tn-sn-input-Mr3, .tn-sn-input-J91{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25%;
  border: #2B790F solid 1px;
  background-color: white;
  border-radius: 20px;
}
.tenSan, .laoiSan, .donGia{
  align-items: center;
}
.auto-group-fmjy-Uhh{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 50px;
}
.imgSan{
  width: 48%;
  border-radius: 30px;
}
.auto-group-vqh9-B1m{
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.btn{
  width: 50px;
  height: 50px;
  border-radius: 6px;
  background-color: white;
}
.main-advertise-letter-XHD{
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.thng-tin-khch-hng-RtP, .thng-tin-sn-rXm{
  color: #000;
  text-align: left;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 5%;
}
.auto-group-jx7d-jPH, .auto-group-evfy-kt3, .auto-group-fpes-Zns{
  display:  flex;
  width: 85%;
  margin: 0 7.5% 0 7.5%;
  justify-content: space-between;
}
.nhp-tn-sn-p9q, .chn-loi-sn-ofy, .nhp-tn-sn-dB9, .nhp-tn-sn-wjZ, .nhp-tn-sn-Srf, .groupkhGHuu, .nhp-tn-sn-9o1{
  width: 45%;
}
.auto-group-fpes-Zns{
  margin-top: 20px;
}
.nhp-tn-sn-vKu{
  width: 50%;
}
.auto-group-veaw-32b, .auto-group-xznk-duu, .selectLoaiLS, .ngayLS, .selectTenLS{
  width: 100%;
}
.selectKhungGio, .selectGH{
  width: 100%;
}
.tenKhach, .soDT{
  color: gray;
}

.groupkhGHuu{
  display: flex;
  justify-content: space-between;
}
.group-289658-51m{
  display: flex;
  justify-content: space-between;
  width: 880px;
  margin-left: 595px;
}
.auto-group-ootz-nwm, .auto-group-g8kj-qf9, .auto-group-j53h-FeK{
  background-color: white;
  padding: 10px 20px;
}
.auto-group-ootz-nwm{
  border-radius:  20px 0 0 20px;
}
.auto-group-j53h-FeK{
  border-radius: 0 20px 20px 0;
}
.auto-group-rifm-GJX{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.group-289691-oZM{
  background-color: #D9D9D9;
  width: 20%;
  height: 360px;
  padding: 60px 20px;
  border-radius: 20px;
}
.thng-10-WTm{
  width: 100%;
  font-size: 16px;
  text-align: center;
}
.auto-group-vgkk-VKh{
  display:flex;
  justify-content: space-between;
  height: 80px;
  margin: 40px 0;
  text-align: center;
}
.chevronLeft, .chevronRight{
  padding: 20px;
  margin-top: 10px;
  }
  .chevronLeft:hover, .chevronRight:hover{
    cursor: pointer;
    color: white;
    }
.selectLLS{
  width: 100%;
  padding: 0;
}
.auto-group-kpmu-omd{
  overflow:scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 75%;
  height: 360px;
  border-radius: 20px;
  padding: 30px 40px;
  position: relative;
  
  background-color: #FFFFFF;
}
.rowSan{
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  margin-bottom: 40px;
}
.tenSanLS{
  width: 12.5%;
  background-color: #52C41A;
  text-align: center;
  padding: 10px 0;
  color: white;
  border-radius: 10px;
}

.schedule{
  width: 85%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.line{
  position: absolute;
  border-top: 1.5px dotted #000; 
  width: 100%; 
  top: 50%;
  left: 0;
  z-index: 9;
}
.date, .rectangle-4318-587, .rectangle-4319-kk3, .rectangle-4319-kk2, .rectangle-4319-kk4, .rectangle-4319-kk8{
  position: relative;
  background-color: gray;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  z-index: 10;
}
.date:hover{
  cursor: pointer;
}
.item-4-cfD{
  font-size: 60px;
}
img{
  width: 400px;
}
.ch-thch-3hD{
width: 40%;
height: fit-content;
/* display: flex; */
/* justify-content: space-around; */
padding: 20px;
margin: auto;
margin-top: 20px;
border-radius: 20px;
  background-color: white;
}
.ttlLS{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.groupLC{
  display: flex;
  justify-content: space-evenly;
}
.rectangle-4318-587{
  width: 100%;
  border-radius: 10px;
 background-color: #52C41A;
}
.rectangle-4319-kk3{
  width: 100%;
  border-radius: 10px;
  background-color: #2B790F;
}
.rectangle-4319-kk4{
  margin: auto;
  background-color: #F7FA6E;
}
.rectangle-4319-kk8{
  margin: auto;
  background-color: #52C41A;
}
.rectangle-4319-kk2{
  margin: auto;
}
.line1{
  margin: 10px;
  border: #000 2px dotted;
  border-style: dashed;
  border-spacing: 2px;
}
.groupStatus{
  display: flex;
  justify-content: space-around;
}