.ThamGiaGiaoHU {
    width: 1917px; 
    height: 1106px; 
    background: #DDFCD2; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;

    .BNgLCh {
        width: 1917px; 
        height: 1106px; 
        left: 0px; 
        top: 0px; 
        position: absolute;
    
        .OthersSay {
            width: 1474px;
            height: 897px; 
            left: 221px; 
            top: 174px; 
            position: absolute;
            background: #FAFFF9;
            border-radius: 20px
        }
        
        .CacCS {
            width: 1474px;
            height: 897px; 
            left: 221px; 
            top: 174px; 
            position: absolute; 
            background: #FAFFF9; 
            border-radius: 20px
        }
        
        .Topic {
            width: 484px; 
            height: 94px; 
            left: 716px; 
            top: 35px; 
            position: absolute; 
            text-align: center;
            color: #1E1E1E; 
            font-size: 60px; 
            font-family: Poppins; 
            font-weight: 700; 
            word-wrap: break-word        
        } 
        .Tittle {
            width: 1431.40px; height: 74.57px; left: 242.17px; top: 198.57px; position: absolute;

            .TittleBackGround {
                width: 1431.40px; 
                height: 74.57px; 
                left: 0px; 
                top: 0px; 
                position: absolute; 
                background: #D4D4D4;
                border-radius: 15px
            }
            
            .TN, .ST, .AIM, .MSN, .ThIGian, .XCNhN {
                display: flex;
                width: 71.966px;
                height: 52.061px;
                flex-direction: column;
                justify-content: center;
                flex-shrink: 0;

                color: #222;
                text-align: center;
                font-family: Poppins;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                position: absolute;

            }
            
            .TN {
                width: 71.97px;
                height: 52.06px;
                left: 86.93px;
                top: 11.43px;
            }
            
            .ST {
                width: 85.90px;
                height: 45.70px;
                left: 268.13px;
                top: 14.43px;
            }
            
            .AIM {
                width: 174.11px;
                height: 52.06px;
                left: 546.75px;
                top: 11.43px;
            }
            
            .MSN {
                width: 138.13px;
                height: 52.06px;
                left: 879.82px;
                top: 11.43px;
            }
            
            .ThIGian {
                width: 173.94px;
                height: 52.52px;
                left: 1036.94px;
                top: 11.43px;
            }
            
            .XCNhN {
                width: 171.74px;
                height: 51.47px;
                left: 1233.85px;
                top: 11.43px;
            }
        }
        
        .ChiTiTLCh {
            width: 1419.56px; 
            height: 135.49px; 
            left: 248px; 
            top: 292.05px; 
            position: absolute;
            
            .CacCS {
                width: 1419.22px;
                height: 135.49px;
                left: 0.35px;
                top: 0;
                position: absolute; 
                background: #379E13; 
                border-radius: 15px
            }
            
            .XacNhN {
                width: 132.41px;
                height: 47.18px;
                left: 1254.07px;
                top: 44.95px;
                position: absolute;
                .Rectangle441 {
                    width: 132.41px; 
                    height: 47.18px; 
                    left: 0px; 
                    top: 0px; 
                    position: absolute; 
                    background: #FFEB37; 
                    border-radius: 15px
                }
                
                .ThamGia {
                    width: 112.07px; 
                    height: 34.66px; 
                    left: 10.47px; 
                    top: 6.30px; 
                    position: absolute; 
                    text-align: center; 
                    color: black; 
                    font-size: 22px; 
                    font-family: Poppins; 
                    font-weight: 600; 
                    word-wrap: break-word
                }
            }
             
            .Name {
                width: 205.53px; 
                height: 36.76px; 
                left: 0px; 
                top: 48.95px; 
                position: absolute; 
                text-align: center; 
                color: white; 
                font-size: 22px; 
                font-family: Poppins; 
                font-weight: 700; 
                word-wrap: break-word
            }
            
            .PhoneNumber {
                width: 141.82px; 
                height: 32.56px; 
                left: 240.46px; 
                top: 51.95px; 
                position: absolute; 
                text-align: center; 
                color: white; 
                font-size: 22px; 
                font-family: Poppins; 
                font-weight: 500; 
                word-wrap: break-word
            }
            
            .Location {
                width: 438.82px; 
                height: 111.34px; 
                left: 425.45px; 
                top: 11.95px; 
                position: absolute; 
                color: white; 
                font-size: 22px; 
                font-family: Poppins; 
                font-weight: 500; 
                word-wrap: break-word
            }
            
            .FieldId {
                width: 83.24px; 
                height: 36.29px; 
                left: 907.42px; 
                top: 49.95px; 
                position: absolute; 
                color: white; 
                font-size: 22px; 
                font-family: Poppins; 
                font-weight: 500; 
                word-wrap: break-word
            }
            
            .DateTime {
                width: 181.90px;
                height: 70.37px;
                left: 1033.83px;
                top: 32.95px;
                position: absolute;
                text-align: center;
                color: white;
                font-size: 22px;
                font-family: 'Poppins';
                font-weight: 500;
                word-wrap: break-word;
            }
        }
        
        .scroll {
            width: 9px;
            height: 422px;
            left: 1674px;
            top: 360px;
            position: absolute;
            background: #EFEFEF;
            border-radius: 50px;
        }
    }
}

