.lineCustom{
  background: linear-gradient(90deg, #379E13 0%, rgba(217, 217, 217, 0.00) 82.6%, rgba(217, 217, 217, 0.00) 84.9%);
}
.buttonXacNhan{
  border-radius: 10px;
  border: 1px solid #667B3D;
  background: linear-gradient(93deg, #7DA82A 5.86%, #BCEA63 26.96%, #8EB740 48.07%, #BCEA63 71.86%, #7DA82A 92.07%);
}